
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;

}

#HP_cartnavbar{
    display: flex;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background-color: #06f;
    align-items: flex-start;

}
#HP_cartnavbar img{
    display: flex;
    width:150px;
    height: auto;
    margin-left: 5%; 
}

#HP_cartnavbar hr{
    margin-top:30px;
    margin-left: 5%;
    width: 1px;
    height: 50px;
}

#HP_cartnavbar h4{
    display: flex;
    color: white;
    flex: 1;
    margin: auto;
    margin-left: 5%;

}

#HP_top{
    height: 50px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#HP_middle{
    height: 55px;
    width: 95%;
    margin: auto;
    margin-top: 35px;
    background-color: rgb(245, 242, 242);
    display: flex;
    text-align: center;
    color: #999999;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

#HP_P{
    width: 45%;
    text-align: left;
    margin-left: 5px;
    margin: auto;
    
}
#HP_U{
    width: 12.5%;
    margin: auto; 
}

#HP_SHIP{
    /* border: 1px solid grey; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 8px;
    width: 95%;
    margin: auto;
    height: auto;
    margin-top: 50px;
    padding: 5px;
}

#HP_count{
    display: flex;
    margin-left: 25px;
}

#HP_product{
    margin-top: 30px;
    padding: 20px;
}

#HP_total{
    display: flex;
    justify-content: space-around;
}

#HP_bottom{
    display: flex;
    width: 95%;
    height: 120px;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#HP_bottom a{
    margin: auto;
}
#a1{
    width: 15%;
    margin: auto;
    text-align: left;
    margin-left: 5px;
}
#b1{
    width: 16.5%;
    margin: auto;
    display: flex;
}

#d1{
    width: auto;
    height: 50px;
    margin: auto;
    
}

button{
    width: 240px;
    height: 50px;
    background-color: #06f;
    color: antiquewhite;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    border: 1px ;
   
}

#d1 img{
    display: block;
    margin: auto;
    width: 40%;
}

img{
    display: block;
    margin: auto;
    width: 40%;
}

#HP_sub{
    color: red;
}

#total1{
    color: red;
}

#HP_Foot img{
    border: 1px solid #c7defe;
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: #c7defe;
    margin-top: 290px;
   
}

/* js */

.items{
    /* border: 1px solid red; */
display: flex;
margin-bottom: 40px;
}

#Div1{
    /* border: 2px solid yellow; */
    width: 12.5%;
    margin: auto;
    text-align: left;
    margin-left: 5px;
}
#Div2{
    /* border: 2px solid orange; */
    width: 30%;
    margin: auto;
    margin-right: 100px;
    display: flex;
}

#Div3{
    /* border: 2px solid orange; */
    width: 9%;
    margin: auto;
    margin-right: 110px;
    display: flex;
}

#Div4{
    /* border: 2px solid orange; */
    width: 8%;
    height: 30px;
    margin: auto;
    margin-right: 110px;
    display: flex;
    gap: 18px;
}

#Div4 button{
    background-color: white;
    border: 0px;
}

button+p{
    margin-top: 10px;
    font-size: medium;
}


#Div5{
    /* border: 2px solid orange; */
    width: 8%;
    margin: auto;
    margin-right: 100px;
    display: flex;
}


#Div6{
    /* border: 2px solid orange; */
    width: 4%;
    margin: auto;
    margin-right: 40px;
    display: flex;
    
}
